footer {
    font-family: "Tenor Sans";
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    position: relative;
}